{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Backend</h1>
    <p class="lead">Backend is a free web framework built by solomon yusuf for building great Web sites and Web applications .</p>
    <p><a href="https://cyberbuildtech.web.app/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Backend gives you a powerful endpoints way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
       
    </div>
   
 
</div>

{% endblock %}
